@import 'components/_vars.scss';
@import 'components/_mini.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');


.biodata { display: none;}

.showBioData { display: block !important; }

.hidden { display: none; }

main { margin: auto; }

h1, h2 { 
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 900; 
    margin: 0;
}

h3 { 
    font-family: 'Roboto', Arial, sans-serif; 
    font-weight: 300; 
    font-size: 1.7em;
}

p, a { font-family: 'Roboto', Arial, sans-serif; font-weight: 300; }