.cars { width: 50%;  margin: 100px auto;}

.remove-prof{
    padding: 10px;
    color: white;
    background-color: #333333;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 5px;

    &:hover { background-color: white; border: 1px solid black; color: black;}
}

.prof-button-modifier {
    text-decoration: none;
}

.title { 
    text-align: center; 
    font-size: 3em;
    letter-spacing: -3px;
}

.yourmini {
    font-size: 3.5em;
    text-align: center; 
    letter-spacing: 5px;
    line-height: 1em;
}


